## IPL data analysis

- Format the deliveries file and matches file

- Merge deliveries and matches file

In [0]:
# Import libraries

import pandas as pd

In [2]:
# Libraries version

print(f'Pandas Version - {pd.__version__}')

Pandas Version - 1.0.3

In [0]:
# Pandas display options

pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [0]:
# Read file

file_path = 'https://raw.githubusercontent.com/nagaraj-datascientist/ipl_data_analysis/master/data/'

deliveries_df = pd.read_csv(f'{file_path}deliveries.csv')
matches_df = pd.read_csv(f'{file_path}matches.csv')

In [5]:
# Glimpse of deliveries data

deliveries_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,wide_runs,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,2,0,0,0,0,0,2,2,NaN,NaN,NaN

In [6]:
# Glimpse of matches data

matches_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [7]:
# Info of deliveries

deliveries_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 94.5 MB

In [8]:
# Info of matches

matches_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 676.0 KB

### Format Matches file

Memory usage of matches file is 676 kb.

Assign alias name to the ipl teams and change the datatype.

#### Team name alias

- Assign same name if one team shares 2 names

In [10]:
# Unique team name

matches_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [0]:
# Replace team name

matches_df.replace('Rising Pune Supergiant', 'Rising Pune Supergiants', inplace=True)
matches_df.replace('Delhi Daredevils', 'Delhi Capitals', inplace=True)
matches_df.replace('Deccan Chargers', 'Sunrisers Hyderabad', inplace=True)

In [0]:
# Alias name function

def team_alias(team):
    if team=='Sunrisers Hyderabad':
        return 'SRH'
    elif team=='Mumbai Indians':
        return 'MI'
    elif team=='Gujarat Lions':
        return 'GL'
    elif team=='Rising Pune Supergiants'or team=='Pune Warriors':
        return 'RPSG'
    elif team=='Royal Challengers Bangalore':
        return 'RCB'
    elif team=='Kolkata Knight Riders':
        return 'KKR'
    elif team=='Delhi Capitals':
        return 'DD'
    elif team=='Kings XI Punjab':
        return 'KXIP'
    elif team=='Chennai Super Kings':
        return 'CSK'
    elif team=='Rajasthan Royals':
        return 'RR'
    elif team=='Kochi Tuskers Kerala':
        return 'KTK'
    else:
        return team

In [0]:
# Alias name assignment for matches data

teams_columns = ['team1', 'team2', 'toss_winner', 'winner']

for t in teams_columns:
    matches_df[t] = matches_df[t].apply(team_alias)

In [14]:
# Unique team names

matches_df['team1'].unique()

array(['SRH', 'MI', 'GL', 'RPSG', 'RCB', 'KKR', 'DD', 'KXIP', 'CSK', 'RR',
       'KTK'], dtype=object)

#### Datatype change

- category - city, team1, team2, toss_winner, toss_decision, result, winner

- datetime - date

In [0]:
# Data type changes

matches_df = matches_df.astype(
    {'city': 'category', 'team1': 'category', 'team2': 'category',
     'toss_winner': 'category', 'toss_decision': 'category',
     'result': 'category', 'winner': 'category', 'date': 'datetime64[ns]'})

In [16]:
# Info of matches

matches_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    category
 3   date             756 non-null    datetime64[ns]
 4   team1            756 non-null    category
 5   team2            756 non-null    category
 6   toss_winner      756 non-null    category
 7   toss_decision    756 non-null    category
 8   result           756 non-null    category
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    category
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: category(7), datetime64[ns](1), int64(5), object(5)
memory usage: 285.2 KB

Now matches if fomratted and shaped, memory usage is ~285 kb.

### Format Deliveries file

Memory usage of deliveries file is 94.5 MB.

Assign alias name to the ipl teams and change the datatype.

In [0]:
# Replace team name

deliveries_df.replace('Rising Pune Supergiant', 'Rising Pune Supergiants', inplace=True)
deliveries_df.replace('Delhi Daredevils', 'Delhi Capitals', inplace=True)
deliveries_df.replace('Deccan Chargers', 'Sunrisers Hyderabad', inplace=True)

In [0]:
# Alias name assignment for matches data

teams_columns = ['batting_team', 'bowling_team']

for t in teams_columns:
    deliveries_df[t] = deliveries_df[t].apply(team_alias)

### Datatype change

- datatype changes - batting_team, bowling_team

In [0]:
# datatype change

deliveries_df = deliveries_df.astype({'batting_team': 'category',
                                      'bowling_team': 'category'})

In [21]:
# Info of deliveries

deliveries_df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  category
 3   bowling_team      179078 non-null  category
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: category(2), int64(13), object(6)
memory usage: 69.3 MB

Now memory usage of deliveries file is ~ 69 MB

### Merge the 2 files

- Merge matches and deliveries data into one file for further analysis.

In [0]:
# Merge 2 files

ipl_df = pd.merge(deliveries_df, matches_df, left_on='match_id', right_on='id')

In [0]:
# Save merged content into file

ipl_df.to_csv('../data/deliveries_and_matches.csv', index=False)